.Editor > section {
  margin-bottom: 50px;
}

.Editor > section > h4 {
  font-size: 22px;
  font-weight: bold;
}

.Editor > section > input,
textarea {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
}

.Editor .emotion_list_wrapper {
  display: flex;
  gap: 2%;
  justify-content: space-between;
}

.Editor > section > textarea {
  padding: 20px;
  width: 100%;
  min-height: 200px;
  resize: none;
  box-sizing: border-box;
}

.Editor > section > textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(157, 215, 114);
}

.Editor .button_section {
  display: flex;
  justify-content: space-between;
}
